.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

/* КЛАСИ ДЛЯ ВІДКРИТТЯ */
.cart-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.cart-drawer.open {
  transform: translateX(0);
}
