// Коли завантажиться основний CSS, він переб'є інлайновий стиль для роьботи з vite
html {
  visibility: visible;
  opacity: 1;
}



body {
  font-family: "Finlandica Text";
  background: linear-gradient(-45deg, var(--bg-gradient-1), var(--bg-gradient-2), var(--bg-gradient-3), var(--bg-gradient-4));
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  min-height: 100vh;

}

// Вимикаємо анімації під час завантаження
.preload * {
  transition: none ;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
